@import 'src/styles/variables';
@import 'src/styles/mixins';

.blog_wrapper {
  padding: 40px 20px;

  @media screen and (max-width: $desktop) {
    padding: 0 20px;
  }

  .filters_container {
    display: flex;
    justify-content: space-around;
  }

  .create {
    min-width: 170px;
    margin: 20px auto;
  }

  .posts_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    @include media-down($container) {
      grid-template-columns: 1fr;
    }

    .post_status_container {
      display: flex;
      margin: 10px 0 10px 0;

      .buttons {
        margin: 0;
      }

      @media screen and (max-width: $desktop) {
        display: block;
        text-align: center;
      }

      .display_form_button {
        color: white;
        background-color: #73b0f4;
        font-weight: bold;
        border-radius: 4px;
        width: 50%;

        @media screen and (max-width: $desktop) {
          height: 27px;
          margin-left: 20px;
        }
      }

      .select_form {
        width: 100%;
        display: flex;

        .button {
          margin: auto 10px auto 15px;
          width: 20%;
          height: 100%;
          padding: 0 10px;
          background-color: rgba(128, 107, 255, 0.3);

          @media screen and (max-width: $desktop) {
            width: 20%;
            margin: 0;
            height: auto;
          }

          //.icon {
          //  width: 20px;
          //  height: auto;
          //  transition: width 75ms, height 75ms;
          //}

          .icon:hover {
            width: 30px;
            height: 30px;
          }
        }

        .submitButton {
          color: #806bff;
        }
      }

      @media screen and (max-width: $desktop) {
        display: block;
      }

      .select_category_container {
        display: flex;
        justify-content: space-around;
      }
    }

    @media screen and (max-width: $desktop) {
      display: block;
    }

    .post_container {
      max-width: 150px;
      max-height: 300px;

      .post_title {
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
      }

      .post_description {
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
      }
    }
  }
}
