@import '../../../styles/variables';

button.root {
  position: absolute;
  margin: 5px;
  color: white;
  background-color: black;
  min-width: 30px;
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 3;
}
