@import '../../../styles/variables';
@import '../../../styles/variables';

.legal {

  h1 {
    color: $primary-color;
    margin-bottom: $scale;
  }

  h2 {
    color: $primary-color;
    font-size: $scale1;
    margin: $scale3 0 $scale 0;
  }

  h3 {
    color: $primary-color;
    font-size: $scale;
    margin-bottom: $scale;
  }

  strong {
    margin-top: $scale2 !important;
  }
}

.list {
  li{
    &::before {
      background-color: $primary-color !important; 
    }
  }
}
