@import '../../styles/variables';

.cart-container {
  display: flex;
  flex-direction: column;
  //font-family: Source Sans Pro, helvetica;
  .form-switcher {
    color: #007bff;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.cart-wrapper {
  // padding-top: 100px;
}
