@import 'src/styles/variables';


.form_item {
  width: 100% !important;
  //display: flex;
  //justify-content: center;
  margin: 5px;
}

.upload_btn {
  width: 100% !important;
  font-size: 16px !important;
}
