#not-authorized {
  margin-top: 20px;
  padding-bottom: 20px;
  .auth-link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #73B0F4;
    margin-left: 3px;
    transition: 400ms;
    &:hover {
      color: darken(#73B0F4, 20%);
    }
  }
  .auth-text {
    color: #707070;
    font-weight: 600;
    font-size: 17px;
  }
}
