@import '../../../styles/variables';

.wrapper {
  .row {
    padding: 0.5em;
    display: flex;
    border-bottom: 1px solid $border-color;

    &:first-child {
      border-top: 1px solid $border-color;
    }

    & > *:not(:first-child) {
      margin-left: 1em;
    }

    .title {
      font-size: 18px;
      margin-right: auto;
      display: inline-flex;
      align-items: center;
    }
  }

  .form {
    margin-bottom: 0;
  }

  .submit {
    min-width: 160px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
