@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
  padding: 1rem;
}

.form_title {
  width: 100%;
  margin: 15px auto;
}

.form {
  position: relative;
  margin-bottom: 10px;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  .submit {
    display: inline-block;
    min-width: 160px;
    margin: 0 auto;
  }

  .current {
    color: #f50057;
    font-size: 20px;

    span {
      color: #806bff;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  .element {
    margin: 0 1rem 1rem;
    min-width: 320px;
    max-width: 345px;
    flex: 1;

    .image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 0.5em;
      margin-bottom: 1em;
    }

    .icon {
      display: flex;
      height: 20px;
      margin-top: 10px;

      &.disable_status {
        :last-child {
          margin-left: auto;
        }
      }
    }
  }
}

.image {
  height: 260px;

  @include media-up($tablet) {
    height: 600px;
  }
}

.param {
  margin-bottom: 0.5em;
}

.label {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 28px;
}

.status {
  display: inline-block;
  font-size: 20px;
  margin-top: 1rem;

  &.verified {
    color: $success-color;
  }

  &.unverified {
    color: $unverified-color;
  }
}

.editForm > * {
  margin-bottom: 1rem;
}

.updateSubmit {
  display: flex;
  justify-content: center;
}

.updateSubmit > * {
  margin-top: 2rem;
  padding: 2rem;
}
