.MuiMenu-list {
  //background-color: #00c853;
  .MuiListItem-root {
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #707070;
  }
}

#catalog-menu-item {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

#multiply-list-for-artwork {
  .MuiListItemText-root {
    .MuiTypography-root {
      font-size: 15px;
    }
  }
  //.MuiCheckbox-colorSecondary.Mui-checked {
  //  color: #8CC57D;
  //}
  //.MuiIconButton-colorSecondary {
  //  color: #707070;
  //}
  //.MuiCheckbox-root {
  //  &:hover {
  //    background-color: rgba(140, 197, 125, 0.18);
  //  }
  //}
}
