
.modal-wraper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: white;
  padding: 20px 25px 0 0 ;
}


.artist-profile-info {
  .artist-verification {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: large;
    padding-bottom: 10px;
    .MuiButton-root {
      margin-bottom: 0;
    }
    .artist-status {
      &.pending {
        color: #f7af11;
      }
      &.verified {
        color: #3f51b5;
      }
      &.unverified {
        color: #f50057;
      }
    }
    .status-btn{
      color: white;
      &.pending {
        background-color: #f7af11;
      }
      &.verified {
        background-color: #3f51b5;
      }
      &.unverified {
        background-color: #f50057;
      }
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .edit-btn {
      font-size: small;
      width: 100%;
    }
    .info-block {
      min-height: 450px;
      max-width: 500px;
      @media screen and (max-width: 320px) {
        width: 300px;
      }
      
      .info-box {
        font-size: 20px;
        @media screen and (max-width: 320px) {
          font-size: 10px;
        }
        .label {
          text-align: start;
          font-weight: 600;
          letter-spacing: 1.3px;
          font-size: 1.2em;
          color: #3f51b5;
        }
        .info-value {
          width: auto;
          text-align: center;
          .multiply-select-form-wrapper {
            .MuiFormControl-root {
              width: 200px;
              .MuiFormHelperText-root.Mui-error {
                font-size: 10px;
                margin: 5px 0 0 0;
              }
              .MuiSvgIcon-root {
                top: 8px
              }
              .MuiInputBase-root {
                height: 50px;
                @media screen and (max-width: 1024px) {
                  height: 40px;
                }
                @media screen and (max-width: 360px) {
                  height: 33px;
                }
              }
              .MuiSelect-selectMenu.MuiSelect-selectMenu {
                padding: 10px 14px;
                background-color: transparent;
              }
              .MuiFormLabel-filled.MuiInputLabel-root {
                top: 0;
                background-color: transparent;
              }
              .Mui-focused.MuiInputLabel-root {
                top: 0;
              }
              .MuiInputLabel-root {
                top: 0
              }
            }
          }
        }
        .MuiFormControl-root {
          width: 60%;
          margin-right: .5em;
        }
        .MuiButtonBase-root {
          margin-right: .5em;
        }
      }
    }
    .upload-button-wrapper {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 375px) {
        width: 69%;
      }
      @media screen and (max-width: 360px) {
        width: 73%;
      }
      @media screen and (max-width: 320px) {
        width: 82%;
      }
      .modal-info-wrapper {
        position: relative;
        .modal-content {
          position: absolute;
          top: 47px;
        }
      }
      .upload-button {
        display: flex;
        width: 184px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
