@import 'src/styles/variables';

.card {
    flex-basis: 130px;
    flex-shrink: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;

    @media screen and (min-width: $desktop) {
        flex-basis: 280px;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.image {
    width: 130px;
    height: 130px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background-color: #F8F8F8;
    object-fit: cover;

    @media screen and (min-width: $desktop) {
        height: 270px;
        width: 280px;
        border-radius: 20px;
    }
}

.name {
    font-size: 14px;
    line-height: 18px;
    padding: 0 4px;
    font-weight: bold;
    color: $primary-color;

    @media screen and (min-width: $desktop) {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 25px;
    }
}

.country {
    font-size: 12px;
    line-height: 15px;
    padding: 0 4px;
    font-style: italic;

    @media screen and (min-width: $desktop) {
        font-size: 16px;
        line-height: 20px;
    }
}
