#artworks-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 30px 0;

  .filter-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .filter-container {
      display: flex;
      align-self: center;
      width: 95%;
      @media only screen and (max-width: 1980px) {
        width: 94%;
      }
      @media only screen and (max-width: 1440px) {
        width: 96%;
      }
      @media only screen and (max-width: 1366px) {
        width: 98%;
      }
      @media only screen and (max-width: 1024px) {
        width: 97%;
      }
      @media only screen and (max-width: 823px) {
        width: 80%;
      }
      @media only screen and (max-width: 812px) {
        width: 80%;
      }
      @media only screen and (max-width: 768px) {
        width: 85%;
      }
      @media only screen and (max-width: 736px) {
        width: 89%;
      }
      @media only screen and (max-width: 731px) {
        width: 90%;
      }
      @media only screen and (max-width: 667px) {
        width: 95%;
      }
      @media only screen and (max-width: 640px) {
        width: 93%;
      }
      @media only screen and (max-width: 568px) {
        width: 94%;
      }
      @media only screen and (max-width: 411px) {
        width: 93%;
      }
      @media screen and(max-width: 375px) {
        //width: 165px;
        //height: auto;
        //margin: 10px;
      }
      @media screen and(max-width: 360px) {
        //width: 160px;
        //height: auto;
        //margin: 10px;
      }
      @media screen and(max-width: 320px) {
        //width: 140px;
        //height: auto;
        //margin: 10px;
      }
    }

    .MuiFormControl-root {

      .MuiFormLabel-root {
        .MuiInputLabel-animated {
          display: none;
        }
      }

      .MuiFormHelperText-root {
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-size: 10px;
      }

      .MuiSelect-selectMenu {
        font-family: "Source Sans Pro", helvetica, arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #707070;
      }

      .MuiSelect-root:hover {
        border-bottom: none;
        background-color: transparent;
      }

      .MuiSelect-select:focus {
        background-color: transparent;
      }
    }

    .MuiFormLabel-root {
      display: none;
    }

    .filter-wrapper {
      .MuiInput-underline {
        &:before {
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);
        }
      }
    }

    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .MuiSelect-root {

      &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }

    }

    .MuiInput-root {
      width: 230px;
    }

    .MuiInput-underline {

      &:before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }

      &:after {
        border-bottom: 1px solid rgba(112, 112, 112, 0.8);
      }
    }
  }

  .artworks-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    color: #73b0f4;
    text-transform: uppercase;
  }

  .filtered-header-new {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: #73b0f4;
    margin: 10px 0 10px 0;
  }

  .card {
    width: calc(33.333% - 20px);
    min-height: 50%;
    padding: 0;
    margin: 5px;
    @media screen and(max-width: 760px) {
      width: calc(50% - 10px);
      height: auto;      
    } 
    .card-content {
      padding: 10px;
      @media screen and(max-width: 760px) {
        padding: 5px;
      } 
    }  
  }

  .artworks-name {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: #707070;
    margin-bottom: 3px;
    @media only screen and (max-width: 568px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 17px;
    }

    .art-name {
      margin-right: 5px;
    }

    .info-status-no-sale {
      color: lighten(#707070, 15%);
      text-transform: uppercase;
    }

    .info-status-sale {
      color: #8CC57D;
      text-transform: uppercase;
    }

    .info-status-sold {
      color: red;
      text-transform: uppercase;
    }
  }

  .name-link {
    text-decoration: none;
    color: #73b0f5;
    transition: 400ms;
    &:hover {
      color: #3f51b5
    }
  }

  .artist-name-link {
    font-size: 14px;
    font-weight: 600;
    @media screen and(max-width: 667px) {
      font-size: 12px;
    }
    @media screen and(max-width: 320px) {
      font-size: 10px;
    }
  }

  .artist-name {
    font-size: 20px;
    color: #707070;
    margin-bottom: 3px;
    font-weight: 600;
    transition: 300ms;
    @media screen and(max-width: 667px) {
      font-size: 16px;
    }
    @media screen and(max-width: 320px) {
      font-size: 14px;
    }
  }

  .artist-card {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    @media screen and(max-width: 667px) {
      min-height: 130px;
    }
  }

  .artist-card-body {
    font-size: 14px;
    color: #707070;
    margin-bottom: 3px;
    font-weight: 600;
    transition: 300ms;
    @media screen and(max-width: 667px) {
      font-size: 10px;
      margin-bottom: 1px;
    }
    @media screen and(max-width: 320px) {
      font-size: 9px;
    }
  }

  .artist-card-price {
    font-size: 20px;
    color: #707070;
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
    @media screen and(max-width: 667px) {
      font-size: 16px;
      margin-bottom: 1px;
      margin-top: 1px;
    }
    @media screen and(max-width: 320px) {
      font-size: 12px;
    }
  }

  .artist-card-country {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
  }

  .MuiCardContent-root {
    @media screen and(max-width: 667px) {
      padding: 10px 5px 5px 5px;
    }
  }

  .artworks-country-name {
    font-size: 14px;
    color: #707070;
    margin-top: 3px;
    margin-left: 3px;
    @media screen and(max-width: 560px) {
      font-size: 10px;
    }
  }

  .artworks-img {
    width: 100%;
    height: 430px;
    object-fit: contain;
    border-radius: 2px;
    @media screen and(max-width: 1440px) {
      height: 340px
    }
    @media screen and(max-width: 1366px) {
      height: 325px
    }
    @media screen and(max-width: 1024px) {
      height: 240px
    }
    @media screen and(max-width: 667px) {
      height: 210px
    }
    @media screen and(max-width: 414px) {
      height: 125px
    }
  }

  .MuiButton-textPrimary {
    &:hover {
      background-color: inherit;
    }
  }

  .empty-flag {
    height: 24px;
    width: 288px;
  }

  .MuiButton-textSizeLarge {
    padding: 20px 11px;
    font-size: 0.9375rem;
  }
}
