.input_select {
  .MuiSelect-root {
    top: -10px;
    padding-top: 30px  !important;
    border-color: transparent!important;
    background-color: transparent;
  }
  .MuiSelect-select {
    border-color: transparent!important;
  }
}
