div {
  .wrapper {
    overflow: hidden;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    padding-bottom: 65%;
    position: relative;
    margin: 0 auto;
  }
}
