@import '../../styles/variables'; 

.wrapper {
  background-color: white;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .title {
    margin-top: 20px;
    font-family: $font-Sen;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }
  .subtitle {
    font-family: $font-Mulish;
    font-size: 20px;
    line-height: 38px;
  }
  .footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    .button {
      &:last-child {
        margin-left: 20px;
      }
    }
  }
}