@import '../../styles/variables';

#payment-info-cart-material-wrapper {
  padding: 5px 5px 20px 5px;
  display: flex;
  justify-content: center;

  .MuiPaper-root {
    background-color: lighten(#f5f7fa, 2%);
    transition: 500ms;

    &:hover {
      background-color: lighten(#f5f7fa, 3%);
    }
  }

  .MuiCardActions-root {
    display: flex;
    justify-content: flex-end;

    .button-wrapper {
      display: flex;
      margin-bottom: 15px;
      .MuiButtonBase-root {
        margin: 0 5px 0 5px;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }

  .info-header-wrapper {
    .MuiTypography-h3 {
      font-size: 20px;
      font-weight: 700;
      color: #8a8a8a;
    }
  }

  .info-wrapper {
    margin-top: 25px;
    .info-text {
      .MuiTypography-body2 {
        font-size: 15px;
        color: #8a8a8a;
        font-weight: 500;
      }
    }
  }
  .price-wrapper {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    margin-bottom: 10px;
    .MuiTypography-body2 {
      font-size: 15px;
      font-weight: 600;
      color: #f35485;
    }
  }

  .price-wrapper1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .MuiTypography-body2 {
      font-size: 15px;
      font-weight: 600;
      color: #f35485;
    }
  }
  .price-wrapper2 {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    .MuiTypography-body2 {
      font-size: 15px;
      font-weight: 600;
      color: #f35485;
    }
  }

  .MuiPaper-elevation1 {
    //width: 510px;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0 3px 0px rgba(0, 0, 0, 0.12);
    transition: 500ms;

    &:hover {
      box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.2), 0px 0px 8px 1px rgba(0, 0, 0, 0.14), 0px 0 3px 0px rgba(0, 0, 0, 0.12)
    }
  }
}
